/**
 * Site header
 */

 .mini-header {
   width:100%;
   border-bottom: 5px solid $brand-color;
 }
.site-header {
    background-color: $brand-color;
    color: $background-color;
    border-bottom: 5px solid $brand-secondary-color;
    min-height: 56px;
    text-transform: uppercase;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $background-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;


        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            color:$text-color;
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 5px solid $brand-secondary-color;
    background-color: $brand-color;
    padding: $spacing-unit 0;
    color: $background-color;

    position: absolute;
    bottom:0;
    width:100%;

    a, a:visited {
      color:$background-color;
    }
}

.footer-row {
  width:100%;

  display:flex;
  align-items: center;
  justify-content:space-around;


}






/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    padding-bottom:100px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-bottom: 2 * $spacing-unit;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;

    a {
      color: $background-color;

      &:visited {
        color: $background-color;
      }
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
* Profile
*/

.profile {
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing-unit;

}

.profile-image {
  margin: $spacing-unit 0;
  width:50%;
  max-width: 280px;
  border: $spacing-unit solid $brand-secondary-color;

}

.profile-title {
  color: $brand-color;

}

.profile-link {
  @extend .page-link;
  text-transform: uppercase;
  margin-bottom:10px;
  font-size: $large-font-size;

}
